
/* For components */

.navbar {
    margin-bottom: 40px;
}

.navbar-item {
    font-family: Montserrat;
    color: #0A0100;
}

.navbar-list {
    padding: 0px;
}

.navbar-item-title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #0A0100;
    letter-spacing: 2px;
}

.navbar-item {
    letter-spacing: 1px;
    margin-left: 50px;
    font-size: 14px;
    font-weight: 500;
}


.footer-heading {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;


}
/* for pages */

.challenge-page {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.challenge-title {
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    color: #0A0100;
}

.challenge-description {
    color: #0A0100;
    line-height: 1.5;
    max-width: 500px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 25px;
}

.challenge-variables-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 200px;
    flex-basis: 0;
    flex-grow: 1; 
}

.bordered-container {
    outline: 4px solid #F1F0F3;
    outline-offset: -3px;
    left: 10px;
    top: 10px;
    position: relative;
    background: white;
    display: inline-block;
    margin-bottom: 10px;
}


.bordered-child {
    outline: 1px solid #707070;
    display: inline-block;
    position: relative;
    background: white;
    z-index: 2;
    top: -10px;
    left: -10px;
}


.bordered-container-small {
    outline: 1px solid #707070;
    outline-offset: 0px;
    left: 2px;
    top: 2px;
    position: relative;
    background: white;
    display: inline-block;
    margin-bottom: 10px;
}


.bordered-child-small {
    outline: 1px solid #707070;
    display: inline-block;
    position: relative;
    background: white;
    z-index: 2;
    top: -2px;
    left: -2px;
}


.challenge-editor-slider {
    height: 1px;
    margin-left: 15%;
    width: 70%;
    appearance: none;
    background: #707070;
    outline: none;
}



.challenge-editor-output{
    height: 60px;
    margin-top: 15px;
    margin-left: 30px;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: 1;
    color: #0A0100;
    white-space: pre-line;
    overflow: auto;
}

.challenge-editor-slider::-webkit-slider-thumb {
    border: 1px solid #707070;
    border-radius: 50%;
}